@model PracticeCheck_.Models.Cart

<h1>Orders !</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Menu Item
            </th>
            <th>
                Name
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>
                @Model.menuItemId
            </td>
            <td>
                @Model.menuItemName
            </td>
        </tr>
    </tbody>
</table>
